body {
    font-family: DM Sans;
}

.container {
    width: 1670px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: red solid;
}

:root {
    --accent-color: #000 ;
    --title-color: #FFFFFF ;
    --text-color: #6F7787 ;
    --background-color: #DD2242 ;
}

.header {
background-image: url(#);
}

.header-logo-link {
    width: 128.067px;
height: 56.749px;
flex-shrink: 0;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 23.961px;
font-weight: 900;
line-height: 80.5%; /* 19.288px */
letter-spacing: 0.315px;
text-transform: uppercase;
}

.header-logo-text-n1 {
    color: var(--title-color);
}

.header-logo-text-n2 {
    opacity: 0.7;
background: linear-gradient(180deg, rgba(1, 132, 149, 0.00) 7.41%, #018394 83.33%);
}

.header-list {
color: var(--accent-color);
font-size: 18px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: flex;
justify-content: space-between;
}

.hero-headline {
color: var(--title-color);

/* H1 */
font-family: Roboto;
font-size: 120px;
font-style: normal;
font-weight: 900;
line-height: 130px; /* 108.333% */
text-transform: uppercase;
}

.hero-numbered-list {
display: flex;
}

.hero-numbered-list {
display: flex;
}

.section-perfect-indonesia {
    background: var(--Blue---Background, #010A20);
    padding-top: 207px;
    padding-bottom: 305px;
}

.perfect-indonesia-box-n1 {
    display: flex;
}

.perfect-indonesia-big-box-n1 {
    padding-left: 202px;
    padding-right: 277px;
    margin-bottom: 192px;
}

.perfect-indonesia-text-box {
margin-left: 130.8px;
}

.perfect-indonesia-text {
color: var(--title-color);
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 50px;
width: 479.501px;
height: 119.949px;
flex-shrink: 0;
margin-bottom: 4px;
}

.perfect-indonesia-info {
color: var(--text-color);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.18px;
margin-bottom: 32.1px;
width: 407.575px;
height: 83.964px;
flex-shrink: 0;
}

.perfect-indonesia-button {
    display: flex;
width: 179.813px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 32px;
background: var(--background-color);
color: var(--title-color);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}



.perfect-indonesia-big-box-n2 {

    padding-left: 246px;
    padding-right: 160px;
    
}

.perfect-indonesia-text-box-2 {
    margin-right: 124.8px;
    }

.perfect-indonesia-text-2 {
    color: var(--title-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    width: 479.501px;
    height: 119.949px;
    flex-shrink: 0;
    margin-bottom: 4px;
    }

    .perfect-indonesia-info-2 {
        color: var(--text-color);
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        letter-spacing: 0.18px;
        margin-bottom: 32.1px;
        width: 407.575px;
height: 83.964px;
flex-shrink: 0;
        }
        
        .perfect-indonesia-button-2 {
            display: flex;
        width: 179.813px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 32px;
        background: var(--background-color);
        color: var(--title-color);
        text-align: center;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        }

.section-explore-our-secrets {
    padding-top: 127px;
    padding-bottom: 933px;
}

.explore-our-secrets-list {
    display: flex;
    
}

.explore-our-secrets-headline {
    color: var(--accent-color);
text-align: center;
font-family: DM Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 75px */
margin-bottom: 44.8px;

}

.explore-our-secrets-list {
    gap: 31px;
    justify-content: center;


}

.section-the-numbers {
    opacity: 0.9;
background: #020C21;
height: 794px;
padding-top: 201px;
}

.the-numbers-headline {
color: var(--title-color);
text-align: center;
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */

margin-bottom: 36.8px;
}

.the-numbers-text {
color: var(--text-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.5px;
width: 484px;
height: 102px;
flex-shrink: 0;
margin-right: auto;
margin-left: auto;

}

.the-numbers-number-text {
color: var(--background-color);
text-align: center;
font-family: DM Sans;
font-size: 42.137px;
font-style: normal;
font-weight: 700;
line-height: 49.16px; /* 116.667% */
letter-spacing: 0.386px;
}

.the-numbers-info {
    color: var(--text-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.5px;
}

.numbers-1 {
    width: 340.611px;
    height: 70.229px;
    flex-shrink: 0;
}

.numbers-2 {
    width: 377px;
    height: 70.229px;
    flex-shrink: 0;
}

.numbers-3 {
    width: 340.611px;
    height: 70.229px;
    flex-shrink: 0;
}

.the-numbers-list {
    margin-top: 39px;
    display: flex;
    justify-content: center;
    gap: 91.4px;
}

.section-indonesia-info {
    padding-top: 249px;
    padding-bottom: 257px;
}

.indonesia-info-headline {
color: var(--accent-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px;
width: 614px;
margin-right: auto;
margin-left: auto;
margin-bottom: 32px;
}

.indonesia-info-text {
color: var(--text-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
width: 470px;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
margin-right: auto;
margin-left: auto;
}

.indonesia-info-button {
width: 210px;
height: 64px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 24px;
flex-shrink: 0;
border-radius: 122px;
background: var(--background-color);
color: var(--title-color);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 150%; 
margin-top: 54.5px;
}

.section-indonesia-life {
    background-color: #010A20;
    padding-top: 141.1px;
    padding-bottom: 255px;
}

.indonesia-life-box-n1 {
    display: flex;
}

.indonesia-life-text-box {
    margin-left: 42.4px;
}

.indonesia-life-box-n2 {
    display: flex;
}

.indonesia-life-image {
    width: 233px;
height: 151px;
flex-shrink: 0;
}

.indonesia-life-big-box {
    display: flex;
    gap: 75px;
justify-content: center;
}

.indonesia-life-headline {
color: var(--title-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px;
width: 1056px;
height: 142.643px;
flex-shrink: 0;
margin-right: auto;
margin-left: auto;
}


.indonesia-life-text {
    color: var(--title-color);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}

.indonesia-life-info {
color: var(--text-color);
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
width: 334.629px;
height: 142.643px;
flex-shrink: 0;
}

.section-photo-gallery {

}

.photo-gallery-headline {
color: var(--accent-color);
text-align: center;
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}

.photo-gallery-text {
color: var(--text-color);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.18px;
width: 511px;
height: 47px;
flex-shrink: 0;
margin-top: 41.8px;
margin-bottom: 71px;
margin-left: auto;
margin-right: auto;
}

.photo-gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.getting-there-additional-box {
    display: flex;
    margin-top: 94px;
    margin-bottom: 116px;
}

.getting-there-additional-box-text {
    margin-left: 45.5px;
}

.getting-there-additional-text {
color: var(--accent-color);
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px;
}

.getting-there-additional-info {
color: var(--text-color);
font-family: DM Sans;
font-size: 23.475px;
font-style: normal;
font-weight: 400;
line-height: 38.146px;
width: 446.02px;
height: 114.439px;
flex-shrink: 0;
}

.section-getting-there {
    background: #DCE8F2;
    padding-top: 119px;
    padding-bottom: 117px;
}

.getting-there-item-2 {
    margin-top: 94px;
}

.getting-there-list {
    justify-content: center;
    padding-left: 247px;
    padding-right: 257px;
}

.getting-there-headline {
color: var(--accent-color);
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
padding-left: 238px;
margin-bottom: 44px;
}

.getting-there-text {
color: var(--accent-color);
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
}

.getting-there-info {
    color: var(--text-color);
    font-family: DM Sans;
    font-size: 23.475px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.146px; /* 162.5% */
}

.getting-there-info-text-n1 {
    width: 1038.758px;
height: 114.439px;
flex-shrink: 0;
}

.getting-there-info-text-n2 {
    width: 1059.298px;
height: 114.439px;
flex-shrink: 0;
}

.getting-there-info-text-n3 {
    width: 1038.758px;
height: 76.293px;
flex-shrink: 0;
}

.red-circle-1 {
    background-color: var(--background-color);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.146px;
    padding-top: 10px;
}

.red-circle-2 {
    background-color: var(--background-color);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.146px;
    padding-top: 10px;
}

.red-circle-3 {
    background-color: var(--background-color);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.146px;
    padding-top: 10px;
}

.getting-there-button {
    display: flex;
width: 210px;
height: 64px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 24px;
flex-shrink: 0;
color: var(--title-color);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%;
border-radius: 122px;
background: var(--background-color);
margin-top: 17px;
}

.footer {
    background: var(--Blue---Background, #010A20);
    padding-top: 39px;
    padding-bottom: 31.25px;
}

.footer-flex {
    display: flex;
}

.footer-nav-list {
    display: flex;
    gap: 37px;
}

.footer-nav-link {
    color: var(--title-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.footer-svg-list {
    display: flex;
}

.footer-logo-link {
color: var(--background-color);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 90.5%; /* 21.684px */
letter-spacing: 0.315px;
text-transform: uppercase;
}